Hi,
<br>Welcome from {{ansible_all_ipv4_addresses}}
<br>OS: {{ansible_distribution}}
<br>
Current Time: {{ansible_date_time.date}} {{ansible_date_time.time}}
<br>
<html>
<head>
   <title>ANSIBLE Training Task</title>
</head>
<body> 
    <p>
       <h1>Welcome</h1><br>
       <h3>###########################################################
           <br>#####Deployed with Ansible on {{ansible_hostname}}#####
           <br>#######################################################
       </h3>
  <br>
  <h3>Mentee</h3>
  Name: Aakash Singh<br>
  Date: 07/28/2024
  <br>
  </p>
</body>
</html>
